#header{
    margin: 0;
    background-color: brown;
}
.ul_header{
    display: flex;
    /*justify-content: space-between;*/
    list-style: none;
    padding-left: 55%;
    justify-content: space-between;
    font-family: poppins; 
}
.ul_header a {
    color: white;
    text-decoration: none;
}
#img1{
   height: 10%;
   width: auto;

}