.card>.card-body>a{
	text-decoration: none;
}
.card{
    padding-left: 5px;
}

/*autres styles*/
.titreoffi{
    color: #838CFC;
}
div.offi{
    display: block;
    color: #838CFC;

}
div.offi>p{
    font-size: small;
}
div.adresse{
    display: flex;
}


