.bouton{
display: flex;
justify-content: center;
color : #1A56DB;
text-decoration: underline;
}

#stylechantre{
    display: flex;
    justify-content: center;
    
}
#chantre{
    width: 40em; 
    height: 30em;
}

/*pasteur*/
#past{
    width: 100px;
    height: 100px;
}
.pastgen{
    display: flex;
    justify-content: space-around;
}
.pastgen .bio{
    text-align: justify;
    width: 40%;
    padding-top: 5%;
    padding-right: 50px;
}

.flex-card-past .card-img-top{
    width: 250px;
    height: 250px;
    padding-top: 5px;
    border-radius: 300px;
}

#pastmob{
    display: none;
}

.flex-card-past{
    display: flex;
    width: 400px;
    height: auto;
}
.flex-card-past div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
    font-family: poppins;
}

#sermon_id{
    width: 90%;
    box-shadow: 1px 2px 15px #9c9b9b;
}

#pastaimg{
    padding-top: 4px; 
    border-radius: 500px; 
    height: 30em; 
    width: 30em;
}

/*footer*/
#footHead{
    background-color: #76A9FA;
    background-size: cover;
    overflow-y: auto;
    overflow-x: auto;
}
.flex-footer{
    display: flex;
    justify-content: space-between;
    font-family: poppins;
    /*background-color: red;*/
    padding: 10px 5px;
    gap: 20px;
}


.flex-footer .footA1 {
    display: flex;
    justify-content: center;
}
.flex-footer .footA1 span {
/*padding-bottom: 80px;*/
color: #082006;
}

.flex-footer a img{
    height: 80px;
    width: 80px;
}
.flex-footer .adresse{
    display: flex;
    flex-direction: column;
}
.flex-footer .adresse h3{
display: flex;
justify-content: center;
font-weight: 500;
color: whitesmoke;
}
.flex-footer .adresse p{
    text-align: center;
    padding: 7px 0px;
    color: #082006;
}

.flex-footer .menu h3 {
    display: flex;
    justify-content: center;
    font-weight: 500;
    color: whitesmoke;
}
.flex-footer .menu li{
    list-style: none;
    text-align: center;
    /*color: #082006;*/
    color: rgb(255, 196, 0);
}

.flex-footer .reseau a img{
    height: 25px;
    width: 25px;
    
}
.flex-footer .reseau{
    padding-top: 20px;
    /*background-color: red;*/
}

.flex-footer .reseau a img{
padding-bottom: 5px;
}
.flex-footer .reseau .facebook{
    display: flex;
    color: whitesmoke;
}

.sociaux{
    display: none;
    justify-content: center;
    font-family: poppins;
    color: #fff;
}

.bas{
    display: flex;
    justify-content: center;
    font-size: x-small;
}

/*sermons style*/
.flex-card{
    display: flex;
    width: 400px;
    height: auto;
}
.flex-card div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
    font-family: poppins;
}

#sermon_id{
    box-shadow: 1px 2px 15px #9c9b9b;
}
/* categorie officiel*/
.row-cate{
    display: flex;
    flex-direction: column;
}

.card-body-cate{
    display: flex;
    background-color: #d1d5db;
    width: 100%;
    justify-content: space-between;
    font-family: poppins;
    font-weight: bold;
    height: 80px;
    border-radius: 10px;
    box-shadow: 5px 1px 20px #76a9fa4b;
}

.card-body-cate > a{
display: flex;
flex-direction: column;
justify-content: center;
}
.card-body-cate > h5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(42, 44, 50);
    padding-left: 2%;
}


/*ministre style*/
.row{
    display: flex;
    flex-wrap: wrap;

}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: poppins;
    background-color: #e4e7ed;
    padding: auto;
    margin: auto;
}
.card-title {
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: rgb(42, 44, 50);

}
.card-text {
    display: flex;
    justify-content: center;
    font-weight: 500;
    color: rgb(42, 44, 50);

}
.card {
    padding-left: 5px;
    width: 30%;
}

.row-min .card-body{
    display: flex;
    flex-direction: column;
    font-family: poppins;
    color: #082006;
    box-shadow: 5px 1px 50px #76A9FA;
    align-items: center;
    padding-top: 10px;
}
.img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*defilement chantre style*/
.image-container {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    animation: slide 30s linear infinite;
  }

  .image-container img {
    width: 20em; 
    height: 20em;
    margin: 10px;
    box-shadow: 1px 1px 10px #76A9FA;
  }

  
  @keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }

#scroll2

body {
    margin: 0;
    overflow-x: hidden;
}

.image-container {
    width: 100%;
    overflow: hidden;
    position: relative;

}

.image-scroll {
    display: flex;
    animation: scroll 25s linear infinite;
    /*animation: slide 15s linear infinite;*/

    /*display: flex;
    white-space: nowrap; /* Empêche les retours à la ligne */
    /*will-change: transform;  /*Améliore la performance de l'animation */
    /*transition: transform 0.5s ease; /* Animation fluide */
}

.image-scroll img {
    width: 200px; /* Ajustez la taille selon vos besoins */
    height: auto;
    margin-right: 10px;
    flex-shrink: 0; /* Empêche les images de se réduire */
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

@media only screen and (max-width: 700px) {

    body {
      margin: 0%;
      padding: 0%;
    }

    #pastmob{
        display: flex;
    }
    #pasta {
        justify-content: center;
        padding: 0px;
        margin: 0px;
        /*width: 380px;
        height: 680px;*/
    }

    #pastaimg {
        width: 100px;
        height: 100px;
    }

    .pastgen{
        display: none;
        justify-content: space-around;
    }
    #pastabob {
        font-family: poppins;
        text-align: center;
    }

    #pasta2 {
        font-family: poppins;
        text-align: center;
    }

    #chantre {
        width: 25em;
        height: 10em;
    }

    #banner {
        height: 50vh;
        width: auto;
    }

    /*footer*/
    #footer {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: auto;

    }

    .flex-footer {
        display: block;
        align-items: center;
    }

    .footA1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: x-small;
    }

    .flex-footer .reseau {
        display: none;
        padding-top: 20px;
        /*background-color: red;*/
    }

    .flex-footer .menu .me {
        display: flex;
        justify-content: center;
        gap: 40px;
        /*background-color: rgb(44, 17, 163);*/
    }

    .footUl {
        display: flex;
        justify-content: space-between;
        font-size: x-small;
    }

    .footUl li {

        justify-content: space-around;

    }

    .footli1 {
        display: flex;
        flex-direction: column;
    }

    #footHead span {
        display: flex;
        justify-content: center;
        font-size: xx-small;
    }

    .flex-footer a img {
        height: 40px;
        width: 40px;
    }

    .flex-footer .flex-lex {
        display: block;

    }

    /*sociaux*/
    .sociaux {
        display: flex;
        justify-content: center;
        font-family: poppins;
        color: #fff;
    }

    .sociaux div {
        display: flex;
        justify-content: center;
        padding: 1px 10px;
    }

    .sociaux div a img {
        width: 20px;
        height: 20px;
    }

    /*pasta new style*/
    .flex-card-past{
        display: none;
        width: 400px;
        height: auto;
    }
    .flex-card-past div{
        display: none;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 20px;
        font-family: poppins;
    }
    
    #sermon_id{
        box-shadow: 1px 2px 15px #9c9b9b;
    }

    /*sermons style*/
    .flex-card {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 300px;
        height: auto;
        margin: 0px 35px;

    }

    .flex-card div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 10px 20px;
        font-family: poppins;

    }
    #sermon_id{
        box-shadow: 1px 2px 15px #9c9b9b;
    }

/*ministre style*/
/*
.row{
    display: block;

}

.row-min .card-body{
    display: flex;
    flex-direction: column;
    font-family: poppins;
    color: #082006;
    box-shadow: 5px 1px 50px #76A9FA;
    align-items: center;
    padding-top: 10px;
    width: 100%;

}

.row-min .col-md-4 img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2.2%;
    width: 400px;
    height: 400px;

}
*/
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: poppins;
    background-color: #e4e7ed;
    padding: auto;
    margin: auto;
}
.card-title {
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: rgb(42, 44, 50);

}
.card-text {
    display: flex;
    justify-content: center;
    font-weight: 500;
    color: rgb(42, 44, 50);

}
.card {
    margin: 2% 2%;
    padding: 2% 2%;
    width: 90%;
}

.row-min .card-body{
    display: flex;
    flex-direction: column;
    font-family: poppins;
    color: #082006;
    box-shadow: 5px 1px 50px #76A9FA;
    align-items: center;
    padding-top: 10px;
}
.img{
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
}


/*defilement chantre style*/
.image-container img {
    width: 80px;
    height: 80px;
  }


}
