.BUT{
    color: #FAFAF7;
}
.BUT2{
    color: #838CFC;
}

.lien{
	color: #FAFAF7;
}
.lien:hover{
	color: #838CFC;
}

/*#fonds1{
	background-image: url("fond\ church.png");
}*/
.SUB{

	border: none;
	background-color: white;
	color: #838CFC;
}
.SUB:hover{

	background-color: #838CFC;
	color: #FAFAF7;
}

.struc2-1{

	height: 250px;
	width: 250px;
	border-radius: 170px;
	border: 7px solid #838CFC;
}

#bodysermon{
    background-color: rgb(236, 234, 234);
}

.logo{

	width: 75px;
	height: auto;
	margin-left: 50px;
	margin-top: 20px;

}
.sermon{
    font-family: poppins;
    color: #838CFC;
}

.form{
    color: #838CFC;
    margin-left: 50%;
    
}
.form>input{
    border-color: #838CFC;
    border-radius: 25px 25px 25px;
    border-style: groove;
    width: 30%;
    height: auto;
}

/*chat style*/

/*foote*/
#footlien{
    text-decoration: none;
    font-family: poppins;
    color: #FAFAF7;
}
footer {
    background-color: #FAFAF7;
    padding: 20px;
    text-align: center;
}
footer {
    overflow: hidden; /* Ou overflow: auto; selon le cas */
}

.logo {
    margin-bottom: 20px;
}

.footer-text {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
}

.navbar-brand{
    color: #838CFC;
}





