{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- CSS imports removed to reset styles -->
	<script src="{% static 'JS/bootstrap.min.js' %}"></script>
    <!-- CSS imports removed to reset styles -->
    <style>
		.adresse{
    	display: flex;
		justify-content: space-between;
		color: #EDEDED;
		font-family: poppins;
		margin-left: 20px;
		}
		.cli{
			text-decoration: none;
			font-family: poppins;
		}
		.back{
			padding-top: 15px;
		}
	</style>

    <title>{% block title %}  {% endblock title %}</title>
</head>
<body>
    <nav id="nav" class="navbar navbar-expand-lg navbar-light fond2">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><div><img class="logo" src="{% static 'logo24.png' %}" alt="logo"></div></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a id="lien" class="nav-link lien" aria-current="page" href=" / ">Accueil</a>
              <a id="lien" class="nav-link lien" href="/sermons/">Sermons</a>
              <a id="lien" class="nav-link lien" href="/event/">Evenement</a>
              <a id="lien" class="nav-link lien" href="/ministre/">Ministres</a>
              <a id="lien" class="nav-link lien" href="/offi/">Officiels</a>
              <a id="lien" class="nav-link lien" href="/temoignage/">Temoignages</a>
              <a id="lien" class="nav-link lien" href="/chantre/">Portail</a>
            </div>
          </div>
        </div>
      </nav>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
        AOS.init();
    </script>


    
{% block content %}{% endblock content %}

</body>
</html>