{% extends "_base.html" %}
{% load static %}
{% block title %}Chantres{% endblock title %}

{% block content %}
<div class="row">
{% for chantre in chantres %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row-min">
    <div class="col-md-4">
      <img src="{{chantre.photo.url}}" class="img" alt="...">
    </div>
    <div class="card-body">
      <h5 class="card-title"> {{ chantre.Nom }} </h5>
      <p class="card-text">contact : {{ chantre.Phone_number }}</p>
    </div>
  </div>
</div>
{% endfor %}
</div>

{% endblock content %}