{% extends "_base.html" %}
{% load static %}
{% block title %}Temoignages{% endblock title %}
{% block content %}
<style>
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input, textarea{
    display: block;
    padding: .75rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    min-width: 600px;
    font-family: poppins;
}
label {
    display: inline-block;
    box-sizing: border-box;
    margin: 1rem 0;
}
.titretemoin{
display: flex;
justify-content: space-between;
text-decoration: none;
color: #838CFC;
}
#bot{
    background-color: #838CFC;
    color: #ffffff;
}
.titretemoin>a{
    text-decoration: none;
    font-family: poppins;
}
#tem{
    color: white;
}
#id_Audio{
    padding-bottom: 20px;
}



@media(max-width:600px){
    input, textarea{
    display: block;
    padding: .200rem;
    font-size: 0.8rem;
    border: 1px solid #ced4da;
    min-width: 200px;
    font-family: poppins;
}
.titretemoin{
display: flex;
justify-content: space-between;
text-decoration: none;
color: #838CFC;
font-size: small;
}
.titretemoin a{
    text-align: center;
    color: white;
    font-family: poppins;
    font-size: small;
}



}

</style>
<div class="titretemoin">
    <button type="button" class="text-white bg-blue-400 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Placer un Temoignage</button>
    <a href="/temoignagecontent/" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Voir tous les Temoignages</a>
</div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formute.as_p }}
        <input type="submit" value="Enregistrer" id="buton" class="text-white bg-blue-400 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
    </form>


{% endblock content %}