{% extends "base.html" %}
{% load static %}
{% block title %}Temoignages content{% endblock title %}
{% block content %}
<style>
    @media(max-width:600px){
    input, textarea{
    display: block;
    padding: .200rem;
    font-size: 0.8rem;
    border: 1px solid #ced4da;
    min-width: 200px;
    font-family: poppins;
}
</style>
<div class="row">
    {% for datatemoignage in datatemoignages %}
  <div class="card" style="width:300px">
      <img class="card-img-top" src="{{ datatemoignage.photo.url }}" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">{{ datatemoignage.NomDuCroyant }} </h4>
        <p class="card-text">{{ datatemoignage.Description }} </p>
        <p class="card-text"><audio src="{{ datatemoignage.Audio.url }}" controls style="width: 200px;"></audio></p>
      </div>
    </div>
    {% endfor %}
</div>
  <footer style="background-color: #232F3E; padding: 20px; text-align: center;">
      <div class="logo" style="margin-left: 50%;">
          <!-- Remplacez "votre-logo.png" par le chemin de votre logo -->
          <img src="{% static 'css/logo24.png' %}" alt="Logo" style="width: 60px; height: auto; margin-bottom: 20px; ">
      </div>

      <div class="footer-text" style="color:#EDEDED; display: flex; justify-content: space-around; flex-wrap: wrap; font-family: poppins; ">
          <div ><a id="footlien" href=" / ">Accueil</a></div>
          <div><a id="footlien" href="/sermons/">sermons</a></div>
          <div><a id="footlien" href="/ministre/">Ministres</a></div>
          <div><a id="footlien" href="/offi/">Officiels</a></div>
          <div><a id="footlien" href="/temoignage/">temoignages</a></div>
          <div><a id="footlien" href="/chat/">Portail</a></div>
      </div>
      <br>
      <div class="adresse">
          <p>Avenue les adorateurs N°41</p>
          <p>Commune de mont-ngafula</p>
          <p>Reference: Triangle Campus</p>
      </div>


      <div class="social-icons">
          <!-- Ajoutez vos liens de réseaux sociaux -->
          <a href="https://web.facebook.com/wmbtabdemontngafula" target="_blank"><i class="bi bi-facebook" style="width: 30px; color: #EDEDED;",></i></a>
          <a href="#" target="_blank"><i class="bi bi-whatsapp" style="width: 30px; color: #EDEDED;"></i></a>
          <a href="https://www.youtube.com/@pasteurrbob" target="_blank"><i class="bi bi-youtube" style="width: 30px; color: #EDEDED;"></i></a>
      </div>

  </footer>
{% endblock content %}