{% extends "_base.html" %}
{% load static %}
{% block title %}Temoignages content{% endblock title %}
{% block content %}
<style>
    @media(max-width:600px){
    input, textarea{
    display: block;
    padding: .200rem;
    font-size: 0.8rem;
    border: 1px solid #ced4da;
    min-width: 200px;
    font-family: poppins;
}
</style>
<div class="row">
    {% for datatemoignage in datatemoignages %}
  <div class="card" style="width:300px">
    {% if datatemoignage.photo %}
    <img class="card-img-top" src="{{ datatemoignage.photo.url }}" alt="Card image">
    {% else %}
      <img class="card-img-top" src="{% static 'css/logo24.png' %}" alt="Card image">
    {% endif %}
      <div class="card-body">
        <h4 class="card-title">{{ datatemoignage.NomDuCroyant }} </h4>
        <p class="card-text">{{ datatemoignage.Description }} </p>
        {% if datatemoignage.Audio %}
        <p class="card-text"><audio src="{{ datatemoignage.Audio.url }}" controls style="width: 200px;"></audio></p>
        {% else %}
        <p class="card-text">Aucun audio disponible</p>
        {% endif %}
        
      </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}